@import '../../theme/variables';

section.projects{

  & .container{
    margin-top: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;

    & ul.portfolio-filter{
      display: flex;
      flex-wrap: wrap;
      margin-top: 35px;

      & li{
        margin: 0 10px;
        cursor: pointer;
        opacity: .5;
        text-decoration: underline;
        @include transition;

        &.active{
          opacity: 1;
        }
      }
    }
  }
}

section.projects-list{
  display: flex;
  flex-direction: column;
  align-items: center;

  & .container {

    & ul {
      width: 100%;
      margin: 55px 0;
      display: flex;
      justify-content: flex-start;

      & li.case {
        position: relative;
        opacity: 1;
        @include transition;

        &.hidden{
          @include dev-border;

          //animation: hideCase 2s;
        }

        & a {
          text-decoration: none;

          & .featured-image {
            width: 100%;
            height: 550px;
            background-color: $grey-color;
            position: relative;
            overflow: hidden;

            & img {
              filter: grayscale(0);
              @include transition;
              @include image-cover;
            }
          }

          & .text-container {
            width: 100%;
            position: absolute;
            left: 30px;
            bottom: 30px;
            color: $white-color;
            opacity: 0;
            @include transition;

            & p {
              width: 70%;

              &:first-child {
                margin: 10px 0;
              }
            }
          }
        }

        &:hover {

          & .featured-image {

            & img {
              filter: grayscale(100%);
              transform: scale(1.05);
              -moz-transform: scale(1.05);
              -webkit-transform: scale(1.05);
              -o-transform: scale(1.05);
            }
          }

          & .text-container {
            opacity: 1;
          }
        }
      }
    }
  }
}

@keyframes hideCase {
  0%{
    opacity: 0;
  }
  50%{
    visibility: hidden;
  }
  100%{
    display: none;
  }
}