@import '../../theme/variables';

section.navigation{

  & .container{
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a.logo{
      text-decoration: none;
      font-weight: $weight-bold;
    }

    & ul{
      display: flex;
      flex-wrap: wrap;

      & li{

        &:not(:last-child){
          margin: 0 10px;
        }

        &:last-child{
          margin-left: 10px;
        }
      }
    }
  }
}